{% load scores_custom_filters %}

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Contestant</th>
            <th>Age</th>
            <th>Judge(1)</th>
            <th>Judge(2)</th>
            <th>Final Score</th>
            <th>Final Score</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        <!-- You can add rows of contestants and their details here -->
        {% for contestant in contestants %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ contestant }}</td>
            <td>{{ contestant.age }}</td>
            <td>{{ total_by_judge|get_value:contestant.id }}</td>
            <td>{{ total_by_judge|get_value:contestant.id }}</td>
            <td>{{ total_all_judges|get_value:contestant.id }}</td>
            <td>{{ avg_all_judges|get_value:contestant.id }}</td>
            <td>{{ comments }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% comment %} <td>{{ avg_all_judges|get_value:contestant.id }}</td>
<td>{{ total_all_judges|get_value:contestant.id }}</td> {% endcomment %}

{% comment %} <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ contestant }}</td>
    <td>{{ contestant.age }}</td>
    <td>{{ total_by_judge|get_value:contestant.id }}</td>
    <td>{{ total_by_judge|get_value:contestant.id }}</td>
    <td>{{ total_all_judges|get_value:contestant.id }}</td>
    <td>{{ comments }}</td>
</tr> {% endcomment %}