{% extends "judges/judge_base.html" %}

{% load static %}

{% block content %}
<form method='post'>
    {% csrf_token %}
    <div class="bio-container">
        <div>
            <h2 class="fw-bold">{{ contestant.first_name }} {{ contestant.last_name }}</h2>
            <h4>{{ contestant.identifier }}</h4>
            {% if contestant.gender == "M" %}
            <p>Male | {{ contestant.age }}years </p>
            {% else %}
            <p>Female | {{ contestant.age }}years </p>
            {% endif%}
        </div>
        <div>
            <img class="img-custom" src="{% static 'judges/marina.jpg' %}">
        </div>
    </div>

    <div class="accordion" id="accordionExample">
      {% for caterogy, criteria in criteria_by_category.items %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{ forloop.counter }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                {{ caterogy }}
            </button>
          </h2>
          <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {% for criterion in criteria %}
                <div class="score-object">
                    <label>{{ criterion.name }}: </label>
                    <input type='number' name='criteria_{{ criterion.id }}' step='0.5' min='0' max='10' value=0.00>
                </div>
                {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="score-view-btn">
        <button class='btn btn-success' type='submit' >Save</button>
        <button class='btn btn-danger'>Reset scores</button>
    </div>
</form>
{% endblock %}



{% comment %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Engineering and crafting
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {% for criterion in engineering_criteria %}
                <div class="score-object">
                    <label>{{ criterion.name }}: </label>
                    <input type='number' name='criteria_{{ criterion.id }}' step='0.5' min='0' max='10' value=0.00>
                </div>
                {% endfor %}
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Function
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {% for criterion in function_criteria %}
                <div class="score-object">
                    <label>{{ criterion.name }}: </label>
                    <input type='number' name='criteria_{{ criterion.id }}' step='0.5' min='0' max='10' value=0.00>
                </div>
                {% endfor %}
            </div>
          </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Fun
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {% for criterion in fun_criteria %}
                <div class="score-object">
                    <label>{{ criterion.name }}: </label>
                    <input type='number' name='criteria_{{ criterion.id }}' step='0.5' min='0' max='10' value=0.00>
                </div>
                {% endfor %}
              </div>
            </div>
        </div> {% endcomment %}