{% extends "judges/judge_base.html" %}

{% load static %}

{% block content %}
<form method='post'>
    {% csrf_token %}
    <h2 class="fw-bold">{{ contestant.first_name }} {{ contestant.last_name }}</h2>

    <div>
        <div>
            <h4>{{ contestant.identifier }}</h4>
            <p>{{ contestant.gender }} | {{ contestant.age }}years </p>
        </div>
        <img>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Creativity and Innovation
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {% for criterion in creativity_criteria %}
                <div class="score-object">
                    <label>{{ criterion.name }}: </label>
                    <input type='number' name='criteria_{{ criterion.id }}' step='0.5' min='0' max='10'>
                </div>
                {% endfor %}
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Engineering and crafting
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {% for criterion in engineering_criteria %}
                <label>{{ criterion.name }}: </label>
                <input type='number' name='criteria_{{ criterion.id }}' step='0.5' min='0' max='10'>
                <br>
                {% endfor %}
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Function
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {% for criterion in function_criteria %}
                <label>{{ criterion.name }}: </label>
                <input type='number' name='criteria_{{ criterion.id }}' step='0.5' min='0' max='10'>
                <br>
                {% endfor %}
            </div>
          </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Fun
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {% for criterion in fun_criteria %}
                <label>{{ criterion.name }}: </label>
                <input type='number' name='criteria_{{ criterion.id }}' step='0.5' min='0' max='10'>
                <br>
                {% endfor %}
              </div>
            </div>
          </div>
    </div>
    <div class="score-view-btn">
        <button class='btn btn-success' type='submit' >Save</button>
        <button class='btn btn-danger'>Reset scores</button>
    </div>
</form>
{% endblock %}