@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary: #1363C6;
  --secondary: #15ACE1;
  --light: #F4F7FE;
  --dark: #2B2A9C;
  --border-radius: 10px;
}

body {
  font-family: 'Montserrat';
  /* font-size: 22px; */
}

.sect-pad-bottom {
  margin-bottom: 20px;
}

.nav-bar-custom {
  height: 55px;
  background: var(--dark);
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}


.main{
  height: calc(100vh - 55px);
  overflow: hidden;
  padding: 25px 50px 25px 50px;
  color: var(--dark);
  max-width: 700px;
  margin: auto;
  /* background: black */
}

/* Filter section */
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  /* color: #acbdce; */
}

.Card-filter {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  border-radius: var(--border-radius);
  background: linear-gradient(-67deg, rgba(#c8d8e7, .7), rgba(255,255,255,.8));
  overflow: hidden;
  max-width: 350px;
}


.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}

.icon-btn {
  min-width: 46px;
  min-height: 46px;
  border: none;
  background: transparent;
}



input {
  background-color: white;
  padding: 8px 16px;
  border: none;
  border-bottom: 2px solid ;
  display: block;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;

  &::placeholder {
    color: #6d7f8f;
  }

  &:focus {
    outline: none;
    color: #6d7f8f;
    background-color: lighten(#e3edf7, 3%);
  }
};

.InputContainer {
  --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
  --bottom-shadow: inset -2px -2px 4px rgba(255,255,255, .7);

  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;

  &:before,
  &:after {
    left: 0;
    top: 0;
    display: block;
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &:before {
    box-shadow: var(--bottom-shadow);
  }

  &:after {
    box-shadow: var(--top-shadow);
  }

}
.filter-btn-group {
  height: 50px;
  width: 100%;
  max-width: 500px;
}

/* Clear floats (clearfix hack) */
.filter-btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.filter-btn-group button {
  background-color: #DFDFDF;
  border: 1px solid white;
  color: rgb(140, 138, 138);
  padding: 10px 25px;
  float: left;
}

.filter-btn-group button.active {
  background-color: #2B2A9C;
  color: white;
}

/* Add a background color on hover */
.filter-btn-group button:hover {
  background-color: #22217a;
  color: white;
}

.filter-btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.filter-btn-group button:last-child {
  border-radius: 0 8px 8px 0;
}

.filter-btn-group button:first-child {
  border-radius: 8px 0 0 8px;
}


/* CONTESTANT SECTION */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background: #C3D3F4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2B2A9C;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #22217a;
}

.contestant-section{
  overflow: scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  height: 70%;
  margin-top: 25px;
  padding-right: 25px;
}

.contestant-object {
  margin-block: 20px;
  line-height: 10px;
  /* background: black; */
  padding-bottom: 10px;
  width: 100%;
}

.contestant-object p {
  text-transform: uppercase;
}

/* .contestant-section:not(:last-child) {
  border-bottom: 1px solid #C3D3F4;
} */

.contestant-object:not(:last-of-type) {
  border-bottom: 2px solid #C3D3F4;
}


/* SCORES VIEW */

.bio-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-custom {
width: 120px;
height: 120px;
border-radius: 8px;

}

.score-view-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.score-view-btn button {
  padding: 10px 25px;
}

.score-object {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 5px;
  /* background: red; */
}

.score-object label{
  width: 70%;
  font-size: 14px;
}

.score-object input{
  width: 20%;
  padding: 5px 5px 5px 10px;

}

.scores-details-container {
  display: grid;
  grid-template-areas:
        'top-left top-right'
        'mid-left mid-right'
        'bottom bottom';
  gap: 15px;
}

.fun-scores {
  grid-area: top-left;
}

.function-scores {
  grid-area: top-right;
}

.creativity-scores {
  grid-area: mid-left;
}

.engineering-score {
  grid-area: mid-right;
}

.total-scores {
  grid-area:bottom;
}



.score-card {
  border-radius: 10px;
  text-align: center;
  padding: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.score-card:hover {
  cursor: pointer;
}

.score-card img {
  height: auto;
  width: 30%;
  max-width: 60px;
  margin-block: 15px;

}

.score-card h4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
}

.score-card h2 {
  font-weight: 700;
  font-size: 35px;
}

.score-dark-theme {
  background: var(--dark);
  color: #66CCE9;
}

.score-info-theme {
  background-color: #66CCE9;
}

.score-card span {
  color: white;
}

.total-scores {
  background: #FF992E;
  margin-top: 10px;
}

.total-scores h2 {
  font-size: 45px;
}

/* CONTESTANT LIST PAGE */

.table-card {
  background: #2B2A9C;
  color: white;
}

.table-header {
  font-weight: bold;
  background: #22217a;
}

.table-body {
  overflow: hidden;
}

.table-body:hover {
  overflow: scroll;
}

.contestant-table {
  color: white;
}


@media (max-width:425px) {
  .nav-bar-custom {
    padding-left: 25px;
    padding-right: 25px;
  }

  .main{
    padding: 25px;
  }

  .contestant-section{
    height: 65%;
  }

  .bio-container {
    margin-top: 0px;
  }

  .scores-details-container {
    column-gap: 15px;
    margin-top: 30px;
  }

  .score-card h4 {
    font-weight: 600;
    font-size: 13px;
  }

  .score-card h2 {
    font-weight: 600;
    font-size: 25px;
  }

  .total-scores {
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .total-scores h2 {
    font-size: 45px;
  }

}


