@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary: #1363C6;
  --secondary: #15ACE1;
  --light: #F4F7FE;
  --dark: #2B2A9C;
  --border-radius: 10px;
}

body {
  font-family: 'Montserrat';
  /* font-size: 22px; */
}

.sect-pad-bottom {
  margin-bottom: 20px;
}

.nav-bar-custom {
  height: 55px;
  background: var(--dark);
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}


.main{
  height: calc(100vh - 55px);
  overflow: hidden;
  padding: 25px 50px 25px 50px;
  color: var(--dark)
  /* background: black */
}

/* Filter section */
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  /* color: #acbdce; */
}

.Card-filter {
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(-67deg, rgba(#c8d8e7, .7), rgba(255,255,255,.8));
  overflow: hidden;
  box-shadow:
    -2px -2px 6px rgba(#fff, .6),
    2px 2px 12px #c8d8e7;
  width: 380px;
}

.CardInner {
  padding: 16px 16px;
  background-color: #e2e9f4;
  border-radius: var(--border-radius);
}

.container {
  display: flex;
}

.Icon {
  min-width: 46px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  margin-right: 12px;
  box-shadow:
    -2px -2px 6px rgba(#fff, .6),
    2px 2px 12px #c8d8e7;

  svg {
    transform: translate(-1px, -1px);
  }
}

label {
  font-family: "Hind", sans-serif;
  display: block;
  /* color: #3c4b66; */
  /* margin-bottom: 12px;
  background: linear-gradient(45deg, rgba(#6b7b8f, 1), #3c4b66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: black;
}

.InputContainer {
  width: 100%;
}

input {
  background-color: #e3edf7;
  padding: 16px 32px;
  border: none;
  display: block;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;

  &::placeholder {
    color: #6d7f8f;
  }

  &:focus {
    outline: none;
    color: #6d7f8f;
    background-color: lighten(#e3edf7, 3%);
  }
};

.InputContainer {
  --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
  --bottom-shadow: inset -2px -2px 4px rgba(255,255,255, .7);

  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;

  &:before,
  &:after {
    left: 0;
    top: 0;
    display: block;
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &:before {
    box-shadow: var(--bottom-shadow);
  }

  &:after {
    box-shadow: var(--top-shadow);
  }
}

.filter-btn-group {
  margin-top: 25px;
  height: 50px;
  width: 100%;
  max-width: 500px;
}

/* Clear floats (clearfix hack) */
.filter-btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.filter-btn-group button {
  background-color: #DFDFDF;
  border: 1px solid white;
  color: rgb(140, 138, 138);
  padding: 10px 25px;
  float: left;
}

.filter-btn-group button.active {
  background-color: #2B2A9C;
  color: white;
}

/* Add a background color on hover */
.filter-btn-group button:hover {
  background-color: #22217a;
  color: white;
}

.filter-btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.filter-btn-group button:last-child {
  border-radius: 0 8px 8px 0;
}

.filter-btn-group button:first-child {
  border-radius: 8px 0 0 8px;
}


/* CONTESTANT SECTION */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background: #C3D3F4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2B2A9C;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #22217a;
}

.contestant-section{
  overflow: scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  height: 70%;
  margin-top: 25px;
  padding-right: 25px;
}

.contestant-object {
  margin-block: 20px;
  line-height: 10px;
  /* background: black; */
  padding-bottom: 10px;
  width: 100%;
}

.contestant-object p {
  text-transform: uppercase;
}

/* .contestant-section:not(:last-child) {
  border-bottom: 1px solid #C3D3F4;
} */

.contestant-object:not(:last-of-type) {
  border-bottom: 2px solid #C3D3F4;
}




@media (max-width:425px) {
  .nav-bar-custom {
    padding-left: 25px;
    padding-right: 25px;
  }

  .main{
    padding: 25px;
  }

  .contestant-section{
    height: 65%;
  }

}

/* SCORES VIEW */

.score-view-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.score-view-btn button {
  padding: 10px 25px;
}

.score-object label{
  width: 50%;
}

.score-object input{
  width: 50%;
}