<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Contestant ID</th>
        <th scope="col">Contestant Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">School</th>
        <th scope="col">Parent Name</th>
        <th scope="col">Contact</th>
        <th scope="col">Email</th>
        <th scope="col">Payment Status</th>
      </tr>
    </thead>
    <tbody>
        {% for contestant in contestants %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ contestant.identifier}}</td>
        <td>{{ contestant.first_name}} {{ contestant.last_name}}</td>
        <td>{{ contestant.age}}</td>
        <td>{{ contestant.gender}}</td>
        <td>{{ contestant.school}}</td>
        <td>{{ contestant.parent}}</td>
        <td>{{ contestant.parent.phone_number}}</td>
        <td>{{ contestant.parent.email}}</td>
        <td>{{ contestant.payment_status.pay_status}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>