{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Toy Festival 2023 Registration</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'reg/assets/vendor/aos/aos.css" rel="stylesheet' %}">
  <link href="{% static 'reg/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'reg/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'reg/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'reg/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'reg/assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div data-aos="fade-in">
        <div class="hero-logo">
          <img class="" src="{% static 'reg/assets/img/logo.png' %}" alt="Imperial">
        </div>

        <h1>WOKOBER TOY & INNOVATION FESTIVAL</h1>
        <h2>We celebrate <span class="typed" data-typed-items="innovative toys, creative young minds, playful imagination"></span></h2>
        <div class="actions">
          <a href="/register/" class="btn-get-started">Parent</a>
          <a href="/register/" class="btn-services">Student</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'reg/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'reg/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'reg/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'reg/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'reg/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'reg/assets/vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'reg/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'reg/assets/js/main.js' %}"></script>

</body>

</html>