
{% extends "reg/base.html" %}

{% load static %}

{% block content %}
	<form method="POST" action="" id="wizard">
		{% csrf_token %}
		<!-- SECTION 1 -->
		<h2></h2>
		<section>
			<div class="inner">
				<div class="image-holder">
					<img src="{% static 'reg/images/form-01.webp' %}" alt="">
				</div>
				<div class="form-content" >
					<div class="form-header">
						<h3>Parent Section</h3>
					</div>
					<p>Please fill with parent's details</p>
					<div class="form-row">
						<div class="form-holder">
							{{form.parent_first_name}}
						</div>
						<div class="form-holder">
							{{form.parent_last_name}}
						</div>
					</div>
					<div class="form-row">
						<div class="form-holder">
							{{form.parent_email}}
						</div>
						<div class="form-holder">
							{{form.parent_phone_number}}
						</div>
					</div>
					<div class="form-row">
						<div class="form-holder">
							{{form.parent_proffession}}
						</div>
						<div class="form-holder">
							{{form.parent_address}}
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- SECTION 2 -->
		<h2></h2>
		<section>
			<div class="inner">
				<div class="image-holder">
					<img src="{% static 'reg/images/form-02.webp' %}" alt="">
				</div>
				<div class="form-content">
					<div class="form-header">
						<h3>Particitpant</h3>
					</div>
					<p>Please fill with Particitpant's info</p>
					<div class="form-row">
						<div class="form-holder">
							{{form.contestant_first_name}}
						</div>
						<div class="form-holder">
							{{form.contestant_last_name}}
						</div>
					</div>
					<div class="form-row">
						<div class="form-holder">
							{{form.contestant_age}}
						</div>
						<div class="form-holder" style="align-self: flex-end; transform: translateY(4px);">
							<div class="checkbox-tick">
								{% for radio in form.contestant_gender %}
									<label class="{{ radio.choice_value|lower }}">
										{{ radio.tag }} {{ radio.choice_label}}<br>
										<span class="checkmark"></span>
									</label>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-holder">
							{{form.contestant_school}}
						</div>
						<div class="form-holder">
							{{form.contestant_email}}
						</div>
					</div>

				</div>
			</div>
		</section>

		<!-- SECTION 3 -->
		<h2></h2>
		<section>
			<div class="inner">
				<div class="image-holder">
					<img src="{% static 'reg/images/form-03.webp' %}" alt="">
				</div>
				<div class="form-content">
					<div class="form-header">
						<h3>Payment</h3>
					</div>
					<p>Choose method of payment</p>

					<div class="form-holder">
						<div class="checkbox-tick">
							{% for radio in form.pay_type %}
								{% if radio.choice_label == "MOBILE MONEY" %}
									<label>
										{{ radio.tag }} {{ radio.choice_label}} <br>
										<span class="checkmark"></span>
									</label> <br>
									<p class='extra-msg-copy'>Payment to be made to 0784 041804(Names: Ben Wokorach) including full name of Participant. You will be contacted to receive your proof of payment receipt.</p>
								{% else %}
									<label>
										{{ radio.tag }} {{ radio.choice_label}} <br>
										<span class="checkmark"></span>
									</label> <br>
									<p class='extra-msg-copy'>Payment to be made at Wokober offices, located at Elephante Commons, Gulu City before 10th December, 2023.</p>
								{% endif %}
							{% endfor %}
						</div>
					</div>

				</div>
			</div>
		</section>
		<button id='custom-submit' type="submit" style="display:none">Register</button>
	</form>

{% endblock %}

{% block script_content %}
{% endblock %}