{% extends "reg/base.html" %}

{% load static %}
{% block content %}

	<div class="wizard">
		<h2></h2>
		<section>
			<div class="inner">
				<div class="image-holder">
					<img src="{% static 'reg/images/form-04.jpg' %}" alt="">
				</div>
				<div class="form-content" >
					<div class="form-header">
						<h3>TADAAM!!</h3>
					</div>
					<p>Successfully Registered for the Contest!</p>
					<p>You have successfully registered for the Toy Making & Innovation Festival 2023!!!
						You will receive details of the event one week prior to the event date.</p>
					<p>Don't forget to share</p>
				</div>
			</div>
		</section>
	</div>

{% endblock %}