{% extends "judges/judge_base.html" %}

{% load static %}

{% load judge_custom_filters %}

{% load widget_tweaks %}


{% block content %}
    <h2 class="fw-bold">Welcome {{ judge.name }}</h2>
    <div class="Card-filter">
            <form method='get' class="row g-0">
                <div class="col-2">
                    <button class="Icon icon-btn" type='submit'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="#657789" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-search">
                            <circle cx="11" cy="11" r="8" />
                            <line x1="21" y1="21" x2="16.65" y2="16.65" />
                        </svg>
                    </button>
                </div>
                <div class="col-10">
                    <div class="InputContainer" >
                        {% for field in namefilter.form %}
                            {% render_field field class="inputEl" placeholder="Search..." %}
                        {% endfor%}
                        {% comment %} {{ namefilter.form|attr:"class:" }} {% endcomment %}
                        {% comment %} <input class="inputEl" id="search-input" type='search' name="query" placeholder="Search..." /> {% endcomment %}
                    </div>
                </div>
            </form>
    </div>
    <div class="filter-btn-group">
        <button class="fw-bold active" id='all-btn'>All</button>
        <button class="fw-bold">Age Category</button>
        <button class="fw-bold">Gender</button>
    </div>
    <div class="contestant-section" id="contestant-section-id">
        {% for contestant in contestants %}
        <div class="contestant-object">
            <h4>{{ contestant.identifier }}</h4>
            <p>{{ contestant.first_name }} {{ contestant.last_name }} </p>
            <div class="score-btns">
                {% if score_by_contestant|get_value:contestant.id %}
                    <a href="{% url 'score:update-scores' contestant_id=contestant.id %}"class="btn btn-warning text-light fw-bold">
                        Update Score
                    </a>
                {% else %}
                    <a href="{% url 'score:submit-scores' contestant_id=contestant.id %}" class="btn btn-success text-light fw-bold">Add Score</a>
                {% endif %}
                <a href="{% url 'score:comment' contestant_id=contestant.id %}" class="btn btn-info text-light fw-bold">Comment</a>
                <a href="#" class="btn btn-primary text-light fw-bold position-relative">
                    View Scores
                    {% comment %} <span class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-danger">
                        06/18
                        <span class="visually-hidden">unread messages</span>
                    </span> {% endcomment %}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'judges/script.js' %}"></script>
{% endblock %}

